body{
    font-family: "Comfortaa", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1D1D1D;
    background-color: #f1f9fb ;
}
h1 {
    font-family: "Comfortaa", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #1D1D1D;
    background-color: #2a9dc7;
    padding: 10px;
    border: 5px;
    text-align: center;
    text-transform: uppercase;
}
figcaption {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2  {font-family: "Comfortaa", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #445927;
    margin: 8px;
    padding: 10px;
}
p   {
    margin: 40px;
    line-height: 1.25rem;
}
a:link {
    color: #008000;
  } 
a:visited {
    color: #980c6e;
  }
a:hover {
    color: #15d715;
  }