/*<meta />*/

/* MadCap-Branding applanguage:Templates/Projects/Online & Print/Side Navigation and PDF/ */

:root
{
	--Darkest: #000000;
	--Medium: #A4AAAE;
	--HeroImage: url('../Images/Hero-Image.png');
	--FontFamily: Arial, Avenir, Myriad;
	--LogoImage: url('../Images/final logo atmpt full-150px.png');
	--LogoImagePrint: url('../Images/Artboard 1 copy.svg');
	--Lightest: #ffffff;
	--Dark: #45494C;
	--Light: #DADEE1;
	--Secondary: #cde0e7;
	--Primary: #6DA3BB;
}

